#barWrapper {
    width: 3000px;
    height: 500px;
    background: url('https://images.unsplash.com/photo-1555964681-9e0c30ba9b05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80');
    margin: 50px 0;
}